* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.text-center {
    text-align: center;
}

.pf-color {
    color: #A0522D;
}


/*Welcome to site*/
.my-pic {
    height: 520px;
    margin: auto;
    margin-top: 10px;
}

.welcome-wrapper {
    background: #B0C9C3;
    height: 100vh;
    width: 100%;
}

.enter-site-div a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    border-radius: 0;
    padding: 5px 10px;
    transition: border-radius 0.5s;
}

.enter-site-div a:hover {
    background: black;
    color: white;
    border-radius: 10px;
}

/*Welcome to site ends here*/





/*navbar starts here*/

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-media-icons {
    font-size: 40px;
    margin-top: -12px;
}

#header {
    background: transparent;
}

.navbar-brand {
    margin-top: 20px;
}

.navbar-collapse {
    margin-top: 20px;
}

.navbar-default .navbar-toggle {
    margin-top: 28px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:hover {
    background: transparent;
}

.navbar-default .my-links li a {
    color: #fff;
}


/*navbar ends here*/


/*home page/welcome page styleing*/

.home-bg {
    background-image: url("images/coolcodebackground.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

.hmpg-content {
    position: relative;
    top: 300px;
}

#hm-hr {
    border: 1px solid #ccc;
    animation-name: hrline;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes hrline {
    0% {
        width: 0%;
    }
    70% {
        width: 100%;
    }
}

#name-on-hmpg {
    word-spacing: 5px;
    font-family: 'Marck Script', cursive;
    font-size: 50px;
}

#stack-on-hmpg {
    letter-spacing: 1px;
    font-size: 35px;
    font-family: 'Forum', cursive;
}

#hmpg-ul {
    list-style: none;
}

.hmpg-li {
    display: inline-block;
}

.hmpg-media-icons {
    font-size: 50px;
    margin: 15px;
    color: white;
}

.hmpg-media-icons:hover {
    color: white;
}

#hmpg-next {
    position: relative;
    top: 380px;
}

h6 a {
    background: rgba(0, 162, 255, 0.2);
    display: block;
    width: 40px;
}

h6 a:hover {
    background: skyblue;
}

.hmpg-next-btn {
    font-size: 25px;
    color: white;
}

#hmpg-next-btn {
    font-size: 25px;
}


/*home page styling ends here*/


/*portfolio page styling*/

.pf-inner-content {
    color: white;
}

.pf-inner-content img {
    height: 300px;
    width: 49%;
}

.pf-full {
    padding: 50px 0;
    text-align: left;
    color: #B0C9C3;
}

.pf-scroll-down {
    margin-bottom: 30px;
    color: #A0522D;
}

.pf-scroll-up {
    margin-bottom: 30px;
    color: #A0522D;
}

.pf-heading {
    margin: 100px 0 50px 0;
    color: #A0522D;
    font-family: "Josefin Sans", sans-serif;
    font-size: 500%;
}

.portfolio-wrapper {
    background: #B0C9C3;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.parallex {
    background-image: url("images/bridge.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

@media screen and (min-width: 768px) {}


/*About page starts here*/

.about-container {
    background: #B0C9C3;
    height: 100vh;
    margin-top: -20px;
}

.about-text-div {
    height: 35vh;
}

.about-text {
    padding-top: 150px;
    color: #A0522D;
    font-size: 72px;
}

#libraries-icon {
    display: flex;
/*    justify-content: center;*/
}

.skills {
    width: 100%;
}

.about-p {
    font-size: 18px;
    margin-top: 1px
}

#about {
    margin-top: 20px;
    width: 100%;
    background: white;
}

@media screen and (max-width: 768px) {
    .about-container {
        height: 100%;
        background: #B0C9C3;
    }
    
}



/*footer styling*/
footer {
    height: 10vh;
    margin-top: 20px;
    color: black;
}
.footer-p {
    text-align: center;
    margin: auto 0;
}