.section-color {
  color: #08A7A0; }

.navbar-media-icons {
  font-size: 40px;
  margin-top: -12px;
  color: #08A7A0; }
  .navbar-media-icons:hover {
    color: #f3d350; }

.navbar {
  background: transparent;
  border-radius: 0;
  border: 0;
  box-shadow: none; }

.navbar-collapse {
  margin-top: 20px; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #08A7A0; }
.navbar-default .navbar-toggle:hover {
  background: #f3d350; }

.navbar-default .my-links li a {
  color: #08A7A0; }

.navbar-default .my-links li:after {
  content: '';
  display: block;
  height: 5px;
  width: 0;
  margin: 0 .5rem -5px 0;
  -webkit-transition: width .3s ease-out, background-color .3s ease-out;
  transition: width .3s ease-out, background-color .3s ease-out; }

.navbar-default .my-links li a:hover {
  color: #f3d350; }

.navbar-default .my-links li:hover:after {
  width: 100%;
  background: #f3d350; }

@media screen and (max-width: 768px) {
  .navbar-default .my-links li:after {
    display: none; } }
.home-bg {
  height: 100vh;
  width: 100%;
  background: -webkit-linear-gradient(top, transparent, #777), url("images/bg1.jpg");
  background: linear-gradient(180deg, transparent 40%, #777), url("images/bg1.jpg");
  background-position: center center;
  background-size: cover;
  color: #08A7A0;
  text-align: center;
  font-family: sans-serif; }
  .home-bg .hmpg-content {
    position: relative;
    top: 250px; }
    .home-bg .hmpg-content #hmpg-name {
      font-size: 3.5em;
      text-shadow: 1px 1px 1px black; }
    .home-bg .hmpg-content #hmpg-stack {
      text-shadow: 2px 2px 0 black; }

@media screen and (max-width: 768px) {
  .home-bg {
    background-position: 100% 0%; } }
#hm-hr {
  border: 2px solid #f3d350;
  animation-name: hrline;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-fill-mode: forwards; }

@keyframes hrline {
  0% {
    width: 0%; }
  100% {
    width: 65%; } }
/*portfolio page styling*/
.portfolio-wrapper {
  background: #777;
  height: 100%;
  width: 100%; }

.parallex {
  background-image: url("images/bridge.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; }

.pf-inner-content {
  color: #fff;
  padding-bottom: 30px; }

.pf-inner-content img {
  height: 300px;
  width: 49%; }

.pf-full {
  padding: 50px 0;
  text-align: left;
  color: #08A7A0; }

.pf-scroll-down {
  margin-bottom: 30px;
  color: #08A7A0; }

.pf-scroll-up {
  margin-bottom: 30px;
  color: #08A7A0; }

.pf-heading {
  margin: 100px 0 50px 0;
  color: #08A7A0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 500%; }

.screenshot {
  transition: all 0.3s;
  opacity: 0.8; }
  .screenshot img {
    box-shadow: 0px 0px 9px #333;
    width: 100%; }
  .screenshot p {
    background: rgba(0, 0, 0, 0.6);
    color: #08A7A0;
    height: 50px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    position: absolute;
    bottom: -10px;
    width: 92%;
    display: none;
    padding: 15px 0 10px 0; }
  .screenshot:hover {
    opacity: 1;
    transform: scale(1.19);
    z-index: 1; }
  .screenshot:hover p {
    display: block;
    animation: a 0.5s; }

.pf-app-heading {
  text-decoration: underline; }
  .pf-app-heading:hover {
    text-decoration: none; }
  .pf-app-heading a {
    color: #08A7A0; }
    .pf-app-heading a:hover {
      text-decoration: none; }

@keyframes a {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@-webkit-keyframes a {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0); } }
@media screen and (max-width: 768px) {
  .screenshot .second-img {
    margin-top: 30px; }

  .screenshot:hover p {
    visibility: hidden; } }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .screenshot p {
    width: 94%; } }
@media screen and (min-width: 1200px) and (max-width: 2000px) {
  .screenshot p {
    width: 95%; } }
/*About page starts here*/
.about-container {
  background: #777;
  height: 100vh;
  width: 100%;
  margin-top: -20px; }

.about-text-div {
  height: 35vh; }

.about-text {
  padding-top: 100px;
  color: #08A7A0;
  font-size: 72px; }

#libraries-icon {
  display: flex; }

.skills {
  width: 100%; }

#about {
  padding-top: 50px;
  width: 100%;
  background: #fff; }
  #about .about-p {
    font-size: 18px; }

@media screen and (max-width: 720px) {
  .about-container {
    height: 100%;
    width: 100%; } }

/*# sourceMappingURL=styles.css.map */
