<div class="welcome-wrapper">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 img-holder">
            <img src="/images/diamond2.png" class="img-responsive  my-pic text-center" >
        </div>
         <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 text-center">
            <h2>Terry Ntow</h2>
        </div>
         <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 text-center enter-site-div">
            <a href="#/home">Enter Site</a>
        </div>
    </div>
    
</div>
