<div class="home-bg">
    <div class="hmpg-wrapper">
        <div class="container-fluid hmpg-content">
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
                <h2 id="name-on-hmpg">
                    Terry M. Ntow
                </h2>
                <h3 id="stack-on-hmpg">Full Stack Web Developer</h3>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <hr />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
                <ul id="hmpg-ul">
                    <li class="hmpg-li"><a href="https://www.linkedin.com/in/terryntow/" target="_blank"><i class="fa fa-linkedin-square hmpg-media-icons" aria-hidden="true"></i></a></li>
                    <li class="hmpg-li"><a href="mailto:terry.ntow@gmail.com"><i class="fa fa-envelope hmpg-media-icons" aria-hidden="true"></i></a></li>
                    <li class="hmpg-li"><a href="https://github.com/Adwoa08" target="_blank"><i class="fa fa-github hmpg-media-icons" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
        <div id="hmpg-next" class="col-xs-3 col-sm-2 col-md-2 col-lg-2 col-xs-offset-9 col-sm-offset-10 col-md-offset-10 col-lg-offset-10 pull-right">
            <h6><a href="/#/projects"><i  class="fa fa-angle-right hmpg-next-btn" aria-hidden="true"></i>
            <i class="fa fa-angle-right hmpg-next-btn" aria-hidden="true"></i>
            <i class="fa fa-angle-right hmpg-next-btn" aria-hidden="true"></i>
            </a></h6>
        </div>
    </div>
</div>
