<!--<navbar></navbar>-->

<div class="portfolio-wrapper">
    <!--content-->
    <article class="container">
        <h1 class="text-center pf-heading" id="top">portfolio</h1>
    </article>


    
    <section class="parallex parallex1">
        <div class="container text-center pf-color">
            <h1 class="pf-full">full stack apps</h1>
            <a href="#/portfolio/#portfolio-content1"><span class="fa fa-arrow-circle-down fa-3x pf-scroll-down"></span></a>
        </div>
    </section>



    <!--content-->
    <article id="portfolio-content1">
        <div class="container">
            <div class="row pf-inner-content text-center text-center">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h1>Budget App</h1>
                    <p>This app</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="images/img/budget1.png" class="img-responsive" style="width: 100%">
                        </div>
                        <div class="col-sm-6">
                            <img src="images/img/budget2.png" class="img-responsive" style="width: 100%">
                        </div>
                    </div>
                    <div>
                        <p>The app was built with: </p>
                        <ul class="text-left">
                            <li>bootstrap</li>
                            <li>mongodb</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h1>TravelCheap Ap</h1>
                    <p>This app is to help check plane tickets</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="images/img/travelcheap1.png" class="img-responsive" style="width: 100%">
                        </div>
                        <div class="col-sm-6">
                            <img src="images/img/travelcheap2.png" class="img-responsive" style="width: 100%">
                        </div>
                    </div>
                    <div>
                        <p>The app was built with: </p>
                        <ul class="text-left">
                            <li>bootstrap</li>
                            <li>mongodb</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </article>


   
    <section class="parallex">
        <div class="container text-center pf-color">
            <h1 class="pf-full">full stack apps</h1>
            <a href="#/portfolio/#portfolio-content2"><span class="fa fa-arrow-circle-down fa-3x pf-scroll-down"></span></a>
        </div>
    </section>

    

    <!--content-->
    <article class="portfolio-content2">
        <div class="container">
            <div class="row pf-inner-content text-center">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h1>Project One</h1>
                    <p>This project is the best project of all time</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="images/building.jpg" class="img-responsive" style="width: 100%">
                        </div>
                        <div class="col-sm-6">
                            <img src="images/building.jpg" class="img-responsive" style="width: 100%">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h1>Project One</h1>
                    <p>This project is the best project of all time</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="images/building.jpg" class="img-responsive" style="width: 100%">
                        </div>
                        <div class="col-sm-6">
                            <img src="images/building.jpg" class="img-responsive" style="width: 100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>


    <section class="parallex">
        <div class="porfolio-bg1 container text-center pf-color">
            <h1 class="pf-full">static sites</h1>
            <a href="#/portfolio/#top"><span class="fa fa-arrow-circle-up fa-3x pf-scroll-up"></span></a>
        </div>
    </section>


    <!--content-->
    <article class="portfolio-content1">
        <div class="container">
            <div class="row pf-inner-content text-center">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h1>Project One</h1>
                    <p>This project is the best project of all time</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="images/building.jpg" class="img-responsive" style="width: 100%">
                        </div>
                        <div class="col-sm-6">
                            <img src="images/building.jpg" class="img-responsive" style="width: 100%">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h1>Project One</h1>
                    <p>This project is the best project of all time</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="images/building.jpg" class="img-responsive" style="width: 100%">
                        </div>
                        <div class="col-sm-6">
                            <img src="images/building.jpg" class="img-responsive" style="width: 100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
