<!--<navbar></navbar>-->

<div class="portfolio-wrapper">
    <!--content-->
    <article class="container">
        <h1 class="text-center pf-heading" id="top">portfolio</h1>
    </article>



    <section class="parallex parallex1">
        <div class="container text-center section-color">
            <h1 class="pf-full">full stack apps</h1>
            <a href="#/portfolio/#portfolio-content1"><span class="fa fa-arrow-circle-down fa-3x pf-scroll-down"></span></a>
        </div>
    </section>



    <!--content-->
    <article id="portfolio-content1">
        <div class="container">
            <div class="pf-inner-content">
                <h1 class="text-center pf-app-heading">
                    <a href="https://github.com/Adwoa08/income-and-expenditure-app" target="_blank">Budget App</a>
                </h1>
                <ul>
                    <li>
                        This web application provides a platform for creating an easy to use budget and track daily expenses
                    </li>
                    <li>
                        Skills: AngularJS, JavaScript, Bootstrap, HTML5, SCSS, SweetAlert
                    </li>
                </ul>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 screenshot">
                        <a href="http://budget.terryntow.com/#/" target="_blank">
                            <img src="screenshot/budget-home.png" class="img-rounded first-img">
                        </a>
                        <p class="text-center">Budget Homepage Screen</p>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 screenshot">
<!--                        <a href="http://budget.terryntow.com/#/" target="_blank">-->
                            <img src="screenshot/budget-expense.png" class="img-rounded second-img" style="width: 100%">
<!--                        </a>-->
                        <p class="text-center">Budget Expensespage Screen</p>
                    </div>
                </div>
            </div>
        </div>
    </article>


    <!--
    <section class="parallex">
        <div class="container text-center section-color">
            <h1 class="pf-full">full stack apps</h1>
            <a href="#/portfolio/#portfolio-content2"><span class="fa fa-arrow-circle-down fa-3x pf-scroll-down"></span></a>
        </div>
    </section>
-->




    <section class="parallex">
        <div class="porfolio-bg1 container text-center section-color">
            <h1 class="pf-full">static sites</h1>
            <a href="#/portfolio/#top"><span class="fa fa-arrow-circle-up fa-3x pf-scroll-up"></span></a>
        </div>
    </section>



    <article class="portfolio-content1">
        <div class="container">
            <div class="pf-inner-content">
                <h1 class="text-center pf-app-heading">
                    <a href="https://github.com/Adwoa08/ReactWeather" target="_blank">Weather App</a>
                </h1>

                <ul>
                    <li>
                        React application with Weather API
                    </li>
                    <li>
                        This web-site provides Weather information
                    </li>
                    <li>
                        Skills: React, Foundation, HTML5, Weather API
                    </li>
                </ul>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 screenshot">
<!--                        <a href="#" target="_blank">-->
                            <img src="screenshot/weather-welcomepage.png" class="img-rounded first-img">
<!--                        </a>-->
                        <p class="text-center">Weather Homepage Screen</p>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 screenshot">
<!--                        <a href="#" target="_blank">-->
                            <img src="screenshot/weather-aboutpage.png" class="img-rounded second-img" style="width: 100%">
<!--                        </a>-->
                        <p class="text-center">Weather Aboutpage Screen</p>
                    </div>
                </div>
            </div>
        </div>
    </article>


    <!--

    content
    <article class="portfolio-content2">
        <div class="container">
            <div class="row pf-inner-content text-center">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h1>Project One</h1>
                    <p>This project is the best project of all time</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="images/building.jpg" class="img-responsive" style="width: 100%">
                        </div>
                        <div class="col-sm-6">
                            <img src="images/building.jpg" class="img-responsive" style="width: 100%">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h1>Project One</h1>
                    <p>This project is the best project of all time</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="images/building.jpg" class="img-responsive" style="width: 100%">
                        </div>
                        <div class="col-sm-6">
                            <img src="images/building.jpg" class="img-responsive" style="width: 100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>


-->
</div>
