<navbar></navbar>

<div class="aboutNav">
    <h3 class="aboutMe text-center">about</h3>
    <!--    <hr>-->
</div>
<div id="about" class="container">
    <p class="about-p">
        I have always had a passion for making a difference in the world. I first began taking coding courses in my home country of Ghana while I was teaching full-time. As a teacher, I loved seeing my students grow and get excited about learning. As a coder, I loved how I could see the immediate changes taking place as I wrote and edited my code. I'm also excited that now I can make a change in any part of the world, even without physically being there, as long as I have my laptop and the internet.
    </p>
    <p class="about-p">
        I received a bachelor's degree from the University of Cape Coast in Business Administration. After coming to the US and wanting to pursue a career in web development, I decided to attend the V School web dev bootcamp where I completed over 600 hours of intensive training in Full Stack Web Development.
    </p>
    <br>

</div>

<div id="libraries-div">
    <div class="container">
        <div class="row" id="libraries-icon">
            <div class="col-xs-3 col-sm-3">
                <img src="images/html5.png" class="skills">
            </div>
            <div class="col-xs-3 col-sm-3">
                <img src="images/css.png" class="skills">
            </div>
            <div class="col-xs-3 col-sm-3">
                <img src="images/bootstrap.png" class="skills">
            </div>
            <div class="col-xs-3 col-sm-3">
                <img src="images/js.png" class="skills">
            </div>
            <div class="col-xs-3 col-sm-3">
                <img src="images/jquery.png" class="skills">
            </div>
            <div class="col-xs-3 col-sm-3">
                <img src="images/angularjs.png" class="skills">
            </div>
            <div class="col-xs-3 col-sm-3">
                <img src="images/node.png" class="skills">
            </div>
            <div class="col-xs-3 col-sm-3">
                <img src="images/mongoDB.png" class="skills">
            </div>
            <div class="col-xs-3 col-sm-3">
                <img src="images/express.png" class="skills">
            </div>
        </div>
    </div>

</div>
